# Data exploration and transformation for jobspy query output

In this notebook, the output from Jobspy will be explored and cleaned in a way that will be general for the processing of the data.

## General goal

The general goal of the dashboard is to viasually analyse the status of the job market in a specific (or various) European countries and per industry (or job title). For doing this, an open-source library [(JobSpy)](https://github.com/cullenwatson/JobSpy) is used to scrape data from the most popular job-posting sites, **Indeed** and **Glassdoor**.

THe first step is to check what is the data that is gathered from the query, to select the interesting or most populated features, and to remove duplicates between pages.

In [324]:
from jobspy import scrape_jobs

In [365]:
country = 'Spain'
jobs = scrape_jobs(
    site_name=[
        "indeed",
        "glassdoor"
    ],
    search_term="data science",
    location=country,
    results_wanted=200,
    hours_old=72,
    country_indeed=country
)

2025-02-26 14:10:45,383 - INFO - JobSpy:Indeed - search page: 1 / 2
2025-02-26 14:10:46,528 - INFO - JobSpy:Glassdoor - search page: 1 / 7
2025-02-26 14:10:46,854 - INFO - JobSpy:Indeed - search page: 2 / 2
2025-02-26 14:10:47,164 - INFO - JobSpy:Indeed - search page: 3 / 2
2025-02-26 14:10:47,668 - INFO - JobSpy:Indeed - found no jobs on page: 3
2025-02-26 14:10:47,669 - INFO - JobSpy:Indeed - finished scraping
2025-02-26 14:10:48,208 - INFO - JobSpy:Glassdoor - search page: 2 / 7
2025-02-26 14:10:49,503 - INFO - JobSpy:Glassdoor - search page: 3 / 7
2025-02-26 14:10:51,243 - INFO - JobSpy:Glassdoor - search page: 4 / 7
2025-02-26 14:10:52,252 - INFO - JobSpy:Glassdoor - search page: 5 / 7
2025-02-26 14:10:53,008 - INFO - JobSpy:Glassdoor - finished scraping

In [366]:
jobs.head(10)

,id,site,job_url,job_url_direct,title,company,location,date_posted,job_type,salary_source,...,emails,description,company_industry,company_url,company_logo,company_url_direct,company_addresses,company_num_employees,company_revenue,company_description
0,gd-1009651332298,glassdoor,https://www.glassdoor.es/job-listing/j?jl=1009...,NaN,Energy Storage Procurement Specialist (Madrid,Grupo EOSOL,Madrid,2025-02-26,NaN,NaN,...,NaN,DESCRIPTION\n\n**Energy Storage Procurement Sp...,NaN,https://www.glassdoor.es/Overview/W-EI_IE27017...,https://media.glassdoor.com/sql/2701725/grupo-...,NaN,NaN,NaN,NaN,NaN
1,gd-1009650231676,glassdoor,https://www.glassdoor.es/job-listing/j?jl=1009...,NaN,Profesional de Producción,GSK,España,2025-02-26,NaN,NaN,...,NaN,"**Site Name:** GSK Aranda de Duero, Burgos \n...",NaN,https://www.glassdoor.es/Overview/W-EI_IE3477.htm,https://media.glassdoor.com/sql/3477/gsk-squar...,NaN,NaN,NaN,NaN,NaN
2,gd-1009650482270,glassdoor,https://www.glassdoor.es/job-listing/j?jl=1009...,NaN,Environmental Performance and Data Analytics S...,HITACHI ENERGY LTD,Madrid,2025-02-26,NaN,NaN,...,NaN,**Description**\n\n\n**The opportunity**\n\nTh...,NaN,https://www.glassdoor.es/Overview/W-EI_IE35074...,https://media.glassdoor.com/sql/3507483/hitach...,NaN,NaN,NaN,NaN,NaN
3,gd-1009650293043,glassdoor,https://www.glassdoor.es/job-listing/j?jl=1009...,NaN,Data Analytics Intern - starting in April 2025,Criteo,Barcelona,2025-02-26,NaN,NaN,...,NaN,### **What You'll Do:**\n\n\nCriteo is a globa...,NaN,https://www.glassdoor.es/Overview/W-EI_IE42667...,https://media.glassdoor.com/sql/426672/criteo-...,NaN,NaN,NaN,NaN,NaN
4,gd-1009650314137,glassdoor,https://www.glassdoor.es/job-listing/j?jl=1009...,NaN,Logistics Associate,Antech Diagnostics,Tudela,2025-02-26,NaN,NaN,...,NaN,We understand that the world we want tomorrow ...,NaN,https://www.glassdoor.es/Overview/W-EI_IE45216...,https://media.glassdoor.com/sql/452163/antech-...,NaN,NaN,NaN,NaN,NaN
5,gd-1009650348252,glassdoor,https://www.glassdoor.es/job-listing/j?jl=1009...,NaN,Enterprise Data & Analytics Platforms Director,AstraZeneca,Barcelona,2025-02-26,NaN,NaN,...,NaN,We are seeking an expert and visionary leader ...,NaN,https://www.glassdoor.es/Overview/W-EI_IE9214.htm,https://media.glassdoor.com/sql/9214/astrazene...,NaN,NaN,NaN,NaN,NaN
6,gd-1009651340228,glassdoor,https://www.glassdoor.es/job-listing/j?jl=1009...,NaN,"Foresight, Strategy and Insights Trainee",Arup,Madrid,2025-02-26,NaN,NaN,...,beatriz.estefania@arup.com,**Shape a future with purpose at Arup in Spain...,NaN,https://www.glassdoor.es/Overview/W-EI_IE31809...,https://media.glassdoor.com/sql/31809/arup-squ...,NaN,NaN,NaN,NaN,NaN
7,gd-1009650758109,glassdoor,https://www.glassdoor.es/job-listing/j?jl=1009...,NaN,Data Product Specialist,Edelman,Madrid,2025-02-26,NaN,NaN,...,NaN,"Edelman is a voice synonymous with trust, reim...",NaN,https://www.glassdoor.es/Overview/W-EI_IE4608.htm,https://media.glassdoor.com/sql/4608/edelman-s...,NaN,NaN,NaN,NaN,NaN
8,gd-1009651374600,glassdoor,https://www.glassdoor.es/job-listing/j?jl=1009...,NaN,Customer Success Executive - Benelux Market,Infor,NaN,2025-02-26,NaN,NaN,...,NaN,General information\nCountry\nSpain\n\n\nCity\...,NaN,https://www.glassdoor.es/Overview/W-EI_IE15375...,https://media.glassdoor.com/sql/15375/infor-sq...,NaN,NaN,NaN,NaN,NaN
9,gd-1009650394784,glassdoor,https://www.glassdoor.es/job-listing/j?jl=1009...,NaN,Associate Product Data Analyst – Experiments &...,eDreams ODIGEO,Barcelona,2025-02-26,NaN,NaN,...,NaN,**Job Description**\n-------------------\n\n ...,NaN,https://www.glassdoor.es/Overview/W-EI_IE12822...,https://media.glassdoor.com/sql/12822/edreams-...,NaN,NaN,NaN,NaN,NaN

In [367]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     227 non-null    object
 1   site                   227 non-null    object
 2   job_url                227 non-null    object
 3   job_url_direct         120 non-null    object
 4   title                  227 non-null    object
 5   company                225 non-null    object
 6   location               221 non-null    object
 7   date_posted            227 non-null    object
 8   job_type               93 non-null     object
 9   salary_source          3 non-null      object
 10  interval               3 non-null      object
 11  min_amount             3 non-null      float64
 12  max_amount             3 non-null      float64
 13  currency               3 non-null      object
 14  is_remote              227 non-null    bool
 15  job_level              0 non-null      object
 16  job_function           0 non-null      object
 17  listing_type           107 non-null    object
 18  emails                 21 non-null     object
 19  description            227 non-null    object
 20  company_industry       17 non-null     object
 21  company_url            220 non-null    object
 22  company_logo           194 non-null    object
 23  company_url_direct     101 non-null    object
 24  company_addresses      94 non-null     object
 25  company_num_employees  97 non-null     object
 26  company_revenue        70 non-null     object
 27  company_description    65 non-null     object
dtypes: bool(1), float64(2), object(25)
memory usage: 48.2+ KB

We are interested in checking and analysing the description, among others. Therefore, empty descriptions should be removed:

In [368]:
empty_des = jobs.loc[jobs.description.isna()].index
jobs.drop(empty_des, axis=0, inplace=True)

In [369]:
# Select columns with non-null values and drop the ones not having full rows
cols = ['id','site', 'title', 'company', 'location', 'date_posted', 'job_url', 'description']
jobs_red = jobs[cols].dropna().reset_index(drop=True)

In [370]:
jobs_red

,id,site,title,company,location,date_posted,job_url,description
0,gd-1009651332298,glassdoor,Energy Storage Procurement Specialist (Madrid,Grupo EOSOL,Madrid,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,DESCRIPTION\n\n**Energy Storage Procurement Sp...
1,gd-1009650231676,glassdoor,Profesional de Producción,GSK,España,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,"**Site Name:** GSK Aranda de Duero, Burgos \n..."
2,gd-1009650482270,glassdoor,Environmental Performance and Data Analytics S...,HITACHI ENERGY LTD,Madrid,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,**Description**\n\n\n**The opportunity**\n\nTh...
3,gd-1009650293043,glassdoor,Data Analytics Intern - starting in April 2025,Criteo,Barcelona,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,### **What You'll Do:**\n\n\nCriteo is a globa...
4,gd-1009650314137,glassdoor,Logistics Associate,Antech Diagnostics,Tudela,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,We understand that the world we want tomorrow ...
...,...,...,...,...,...,...,...,...
214,in-426324b3fd865786,indeed,IT Solution Delivery Director Advanced Quantit...,Novartis,"Barcelona, CT, ES",2025-02-21,https://es.indeed.com/viewjob?jk=426324b3fd865786,### **Summary**\n\nLocation: Barcelona (Hybrid...
215,in-278dc7c7314939a9,indeed,Sr. Business Analyst Salesforce Data Cloud,Novartis,"Barcelona, CT, ES",2025-02-21,https://es.indeed.com/viewjob?jk=278dc7c7314939a9,### **Summary**\n\nLocation: Barcelona (Hybrid...
216,in-4b8b39475ed853e9,indeed,SAP Business Expert Order to Invoice (m/f/d),BASF,"Madrid, MD, ES",2025-02-17,https://es.indeed.com/viewjob?jk=4b8b39475ed853e9,**ABOUT US**\n------------\n\n\nBASF Nutrition...
217,in-70792c32b0740744,indeed,SAP Business Expert Planning & Manufacturing (...,BASF,"Madrid, MD, ES",2025-02-17,https://es.indeed.com/viewjob?jk=70792c32b0740744,**ABOUT US**\n------------\n\n\nAt BASF Digita...
218,in-be788b0da0a3da21,indeed,Post-doctoral fellow for EARLY Project,ISGLOBAL,"Barcelona, CT, ES",2025-02-13,https://es.indeed.com/viewjob?jk=be788b0da0a3da21,The Barcelona Institute for Global Health (ISG...

In [371]:
jobs_red.groupby('site').count()

            id  title  company  location  date_posted  job_url  description
site
glassdoor  101    101      101       101          101      101          101
indeed     118    118      118       118          118      118          118

In [372]:
duplicates = jobs_red[['company', 'title']].duplicated()
dup_df = jobs_red.loc[duplicates]
dup_df.groupby('site').count()

        id  title  company  location  date_posted  job_url  description
site
indeed  65     65       65        65           65       65           65

In [373]:
remove_index = []
for index, row in dup_df.iterrows():
    temp_dup = jobs_red.loc[(jobs_red.company==row['company']) & (jobs_red.title==row['title'])]
    # If there are duplicates between sites, remove glassdoor:
    if (('indeed' in temp_dup['site'].unique()) & ('glassdoor' in temp_dup['site'].unique())):
        remove_index.append(temp_dup.loc[temp_dup['site']=='glassdoor'].index.item())
print(remove_index)

[22, 13, 6, 29, 31, 7, 9, 20, 8, 18, 5, 35, 4, 3, 1, 36, 17, 14, 47, 70, 67, 39, 65, 69, 49, 72, 15, 20, 33, 25, 56, 38, 40, 55, 54, 61, 62, 50, 57, 45, 46, 41, 76, 87, 100, 99, 90, 84, 88, 74, 64, 80, 77, 59, 96, 86, 97, 98, 73, 68]

In [374]:
jobs_red.loc[remove_index,:].head()

,id,site,title,company,location,date_posted,job_url,description
22,gd-1009651368470,glassdoor,Digital Marketing Manager,Aizon,Barcelona,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,Who we are **Aizon** is a software\-as\-a\-ser...
13,gd-1009651341124,glassdoor,Medical Science Liaison Haemophilia,Sobi,España,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,**Company Description** \n\nSobi offers the o...
6,gd-1009651340228,glassdoor,"Foresight, Strategy and Insights Trainee",Arup,Madrid,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,**Shape a future with purpose at Arup in Spain...
29,gd-1009650125848,glassdoor,Professional Services Consultant,Nexthink,Madrid,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,**Company Description** \n\nNexthink is the l...
31,gd-1009452657231,glassdoor,SAP QM Consultant,Fusion Consulting,Barcelona,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,**Company Description** **Swiss Delivery Excel...

In [375]:
final_jobs = jobs_red.drop(remove_index, axis=0)

In [376]:
final_jobs.drop('site', axis=1, inplace=True)

Location in glassdoor contains city, region and country code. Let's divide this in city and country (coming from selected query in jobspy)

In [377]:
final_jobs['city'] = final_jobs['location'].str.split(',').str[0]
final_jobs['country'] = country
final_jobs.drop('location', axis=1, inplace=True)

In [378]:
final_jobs.groupby('city').count()

,id,title,company,date_posted,job_url,description,country
city,,,,,,,
AN,1,1,1,1,1,1,1
Badalona,4,4,4,4,4,4,4
Barcelona,55,55,55,55,55,55,55
Bellaterra,1,1,1,1,1,1,1
Burgos,2,2,2,2,2,2,2
CM,1,1,1,1,1,1,1
CT,2,2,2,2,2,2,2
Donostia-San Sebastián,1,1,1,1,1,1,1
ES,1,1,1,1,1,1,1
En remoto,5,5,5,5,5,5,5
España,6,6,6,6,6,6,6
Esplugues de Llobregat,1,1,1,1,1,1,1
Granada,1,1,1,1,1,1,1
Madrid,62,62,62,62,62,62,62
Málaga,1,1,1,1,1,1,1
Paterna,4,4,4,4,4,4,4
Sant Boi de Llobregat,1,1,1,1,1,1,1
Santa Oliva,2,2,2,2,2,2,2
Sevilla,2,2,2,2,2,2,2
Torrejón de Ardoz,1,1,1,1,1,1,1
Tudela,1,1,1,1,1,1,1
VC,1,1,1,1,1,1,1
Valencia,1,1,1,1,1,1,1
Vigo,1,1,1,1,1,1,1
Zaragoza,2,2,2,2,2,2,2

In [379]:
final_jobs.head()

,id,title,company,date_posted,job_url,description,city,country
0,gd-1009651332298,Energy Storage Procurement Specialist (Madrid,Grupo EOSOL,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,DESCRIPTION\n\n**Energy Storage Procurement Sp...,Madrid,Spain
2,gd-1009650482270,Environmental Performance and Data Analytics S...,HITACHI ENERGY LTD,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,**Description**\n\n\n**The opportunity**\n\nTh...,Madrid,Spain
10,gd-1009650407274,Data Analytics Internship (m/f/d),"TK ELEVATOR IBERICA HOLDING, SL UNIPERSONAL",2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,La empresa\n\nPeople are at the center of ever...,Madrid,Spain
11,gd-1009650539100,Work and Family Life Consultant,Strategic Resources Inc,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,Fleet Family Support Programs Global Staffing ...,España,Spain
12,gd-1009651035855,plaça de Data Science Software Engineer and NL...,Barcelona Supercomputing Center-Centro Naciona...,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,Barcelona Supercomputing Center\-Centro Nacion...,Barcelona,Spain

In [380]:
final_jobs.dtypes

id             object
title          object
company        object
date_posted    object
job_url        object
description    object
city           object
country        object
dtype: object

print(f"""
    Lengths for setting VARCHAR length in database: \n
    Title:\n {final_jobs.title.str.len().describe()} \n
    Company:\n {final_jobs.company.str.len().describe()} \n
    URL:\n {final_jobs.job_url.str.len().describe()} \n
    Description:\n {final_jobs.description.str.len().describe()} \n
    """)

Transforming the decription requires removing the markdown formating and unifying the language. Some description might be in a different language depending on the country we are querying, even if the search term is in English. To solve this problem and have a better overview of the descriptions in spite of the language, first the language of the description will be detected and then translated to English. In addition, the language of the ad will also be added as a feature.

In [381]:
# Remove markdown
# Dictionary of regex patterns to remove specific Markdown elements
markdown_removal_patterns = {
    r'(\*{1,2}|_{1,2})(.*?)\1': r'\2',  # Remove bold (**text**, __text__) and italics (*text*, _text_)
    r'\[([^\]]+)\]\([^)]+\)': r'\1',    # Remove links, keeping only the text
    r'https?://\S+': '',                # Remove standalone URLs
    r'\n': ' ',                         # Remove newlines and replace with a space
    r'\\': '',
    r'#': '',
    r'\*': '',
    r'\--': ''
}

final_jobs['description'].replace(markdown_removal_patterns, regex=True, inplace=True)

/var/folders/tn/__jkvfl15hz0hrlfh0307zkr0000gn/T/ipykernel_18922/3133261598.py:14: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [382]:
# Detect language
from langdetect import detect

final_jobs['description_language'] = final_jobs.description.apply(lambda x: detect(x)).values

In [383]:
final_jobs.loc[final_jobs['description_language']!='en'].index

Index([12, 51, 66, 176, 179, 194, 195, 209], dtype='int64')

In [384]:
final_jobs.description.loc[final_jobs.description=='']

Series([], Name: description, dtype: object)

In [385]:
# Translate
from googletrans import Translator

translator = Translator()
index_nonen = final_jobs.loc[final_jobs['description_language']!='en'].index

for desc in final_jobs.loc[index_nonen, 'description'].values:
    try:
        translator.translate(desc, dest='en').text
    except:
        print(desc.__class__.__name__)

def translate_exception(text):
    try:
        return translator.translate(x, dest='en').text
    except:
        return None

final_jobs.loc[index_nonen, 'description'] = final_jobs.loc[index_nonen, 'description'].apply(lambda x: translate_exception(x))

str
str
str

In [386]:
final_jobs.dropna(subset='description', inplace=True)
final_jobs.description=final_jobs.description.str.lower()

In [387]:
final_jobs.head()

,id,title,company,date_posted,job_url,description,city,country,description_language
0,gd-1009651332298,Energy Storage Procurement Specialist (Madrid,Grupo EOSOL,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,description energy storage procurement specia...,Madrid,Spain,en
2,gd-1009650482270,Environmental Performance and Data Analytics S...,HITACHI ENERGY LTD,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,description the opportunity the environment...,Madrid,Spain,en
10,gd-1009650407274,Data Analytics Internship (m/f/d),"TK ELEVATOR IBERICA HOLDING, SL UNIPERSONAL",2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,la empresa people are at the center of everyt...,Madrid,Spain,en
11,gd-1009650539100,Work and Family Life Consultant,Strategic Resources Inc,2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,fleet family support programs global staffing ...,España,Spain,en
16,gd-1009650977580,Workday Senior Specialist,"Radisson Hotel Group, Madrid Office- Human Res...",2025-02-26,https://www.glassdoor.es/job-listing/j?jl=1009...,radisson hotel group is one of the world's lar...,Madrid,Spain,en

Load data into a sqlite database

In [388]:
import sqlite3

conn = sqlite3.connect("jobs.db")
cursor = conn.cursor()
# DROP TABLE
#cursor.execute("DROP TABLE jobspy")
#conn.commit()

# Create jobs table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS jobspy (
        id TEXT PRIMARY KEY,
        title TEXT,
        company TEXT,
        date_posted TEXT,
        job_url TEXT,
        description TEXT,
        city TEXT,
        country TEXT,
        description_language TEXT
    )
""")
conn.commit()

In [389]:
ids = cursor.execute("SELECT id FROM jobspy").fetchall()

In [403]:
cursor.execute("SELECT count(*) FROM jobspy WHERE country='Austria' AND date_posted >= date('now', '-1 days');").fetchall()[0][0]

28

In [407]:
uniques = [x[0] for x in cursor.execute("SELECT DISTINCT(country) FROM jobspy").fetchall()]

In [413]:
unique_countries=['Austria', 'Spain', 'Germany']
i=1
#cursor.execute(f"""SELECT count(*) FROM jobspy WHERE country={unique_countries[i]} 
#            AND date_posted >= date('now', '-1 days');
#            """).fetchall()[0][0]
cursor.execute(f"""SELECT count(*) FROM jobspy WHERE country='Austria'
            AND date_posted >= date('now', '-1 days');
            """).fetchall()[0][0]

28

In [408]:
uniques

['Austria', 'Spain', 'Germany']

In [396]:
already_db = [id_[0] for id_ in ids]
#final_jobs.drop(final_jobs.where
already_db

[]

In [391]:
final_jobs['id'].isin(already_db)

0      False
2      False
10     False
11     False
16     False
       ...
214    False
215    False
216    False
217    False
218    False
Name: id, Length: 152, dtype: bool

In [364]:
final_jobs.loc[final_jobs['id'].isin(already_db)].index

Index([], dtype='int64')

In [ ]:
already_db

In [ ]:
final_jobs

In [ ]:
# Check if IDs already exist in the database before adding:

final_jobs.to_sql(
    "jobspy",
    conn,
    if_exists='append',
    index=False,
)

In [ ]:
%load_ext sql
%sql sqlite:///jobs.db
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [ ]:
%sql SELECT * FROM jobspy;

In [ ]:
from collections import Counter
import matplotlib.pyplot as plt
from wordcloud import WordCloud
import pandas as pd

# Fetch all job descriptions
df = pd.read_sql_query("SELECT * FROM jobspy", conn)

# Count words in all descriptions
all_text = " ".join(df["description"]).lower().split()
word_freq = Counter(all_text)

# Convert to DataFrame for easy plotting
word_freq_df = pd.DataFrame(word_freq.items(), columns=["Word", "Count"])
word_freq_df = word_freq_df.sort_values(by="Count", ascending=False)

# Plot word cloud
wordcloud = WordCloud(width=800, height=400, background_color="white").generate_from_frequencies(word_freq)
plt.figure(figsize=(10, 5))
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.show()

## Wordcount and various data extraction from job description

Now we have the cleaned dataframe for the output query. This would be the transformation stage that happens BEFORE visualization? The questions that the dashboard should answer are the following:

* How often are different cloud technologies mentioned in the job descriptions? (FuzzyWuzzy, AWS, GCP, AZURE)
* Programming languages?
* Is experience mentioned?
* How similar are the ads between them?
* Word frequency in job title?

In [ ]:
word_freq_df.loc[word_freq_df['Word']=="cloud"]

In [ ]:
word_freq_df

In [ ]:
import spacy

nlp = spacy.load("en_core_web_sm")
text = final_jobs['description'].iloc[0]
doc = nlp(text)

In [414]:
def convert_description(text):
    nlp = spacy.load("en_core_web_sm")
    doc = nlp(text)
    words = [token.lemma_ for token in doc if token.is_alpha and not token.is_stop]  # Lemmatization & stopword removal
    return words

In [417]:
final_jobs['description']=final_jobs['description'].apply(convert_description)

In [428]:
final_jobs['python'] = final_jobs['description'].apply(lambda x: 'python' in x)
final_jobs['python'].loc[final_jobs['python']==True].count()/final_jobs.shape[0]

0.3223684210526316

In [432]:
final_jobs['cloud'] = final_jobs['description'].apply(lambda x: 'cloud' in x)
final_jobs['cloud'].loc[final_jobs['cloud']==True].count()/final_jobs.shape[0]

0.3157894736842105

In [429]:
final_jobs['experience'] = final_jobs['description'].apply(lambda x: 'experience' in x)
final_jobs['experience'].loc[final_jobs['experience']==True].count()/final_jobs.shape[0]

0.993421052631579

In [418]:
final_jobs['description'].iloc[0]

['description',
 'energy',
 'storage',
 'procurement',
 'specialist',
 'company',
 'eosol',
 'group',
 'location',
 'madrid',
 'experience',
 'minimum',
 'year',
 'eosol',
 'group',
 'eosol',
 'group',
 'forefront',
 'innovative',
 'energy',
 'solution',
 'commit',
 'deliver',
 'sustainable',
 'energy',
 'solution',
 'drive',
 'efficiency',
 'performance',
 'reliability',
 'position',
 'overview',
 'energy',
 'storage',
 'procurement',
 'specialist',
 'play',
 'pivotal',
 'role',
 'shape',
 'procurement',
 'strategy',
 'underpin',
 'energy',
 'storage',
 'project',
 'lead',
 'tender',
 'process',
 'coordinate',
 'internal',
 'external',
 'stakeholder',
 'ensure',
 'procurement',
 'activity',
 'align',
 'eosol',
 'group',
 'objective',
 'position',
 'require',
 'individual',
 'strong',
 'background',
 'procurement',
 'project',
 'management',
 'techno',
 'economic',
 'analysis',
 'keen',
 'understanding',
 'energy',
 'storage',
 'landscape',
 'key',
 'responsibility',
 'work',
 'directly',
 'responsible',
 'energy',
 'storage',
 'procurement',
 'theprocurement',
 'department',
 'lead',
 'tendering',
 'process',
 'request',
 'proposal',
 'rfps',
 'coordinate',
 'department',
 'collect',
 'relevant',
 'input',
 'engineering',
 'input',
 'input',
 'business',
 'development',
 'etc',
 'carry',
 'techno',
 'economical',
 'comparison',
 'bench',
 'mark',
 'carry',
 'lco',
 'analysis',
 'base',
 'establish',
 'timeline',
 'lead',
 'coordinate',
 'different',
 'project',
 'stakeholder',
 'epc',
 'battery',
 'supplier',
 'inverter',
 'supplier',
 'etc',
 'internal',
 'department',
 'allow',
 'smooth',
 'tendering',
 'contracting',
 'process',
 'lead',
 'coordinate',
 'division',
 'responsibility',
 'different',
 'party',
 'alignment',
 'correct',
 'project',
 'timing',
 'lead',
 'support',
 'contract',
 'development',
 'process',
 'prepare',
 'support',
 'material',
 'project',
 'update',
 'meeting',
 'executive',
 'committee',
 'support',
 'improvement',
 'exist',
 'internal',
 'tool',
 'tender',
 'evaluation',
 'qualification',
 'bachelor',
 'degree',
 'complete',
 'master',
 'degree',
 'field',
 'engineering',
 'computer',
 'science',
 'datum',
 'economic',
 'mathematic',
 'statistic',
 'business',
 'management',
 'previous',
 'experience',
 'tendering',
 'process',
 'project',
 'development',
 'renewable',
 'energy',
 'energy',
 'storage',
 'industry',
 'ability',
 'work',
 'project',
 'simultaneously',
 'balance',
 'priority',
 'independently',
 'keen',
 'learn',
 'develop',
 'skill',
 'field',
 'renewable',
 'energy',
 'particularly',
 'battery',
 'technology',
 'passion',
 'renewable',
 'energy',
 'industry',
 'combine',
 'solid',
 'analytical',
 'skill',
 'critical',
 'thinking',
 'good',
 'level',
 'microsoft',
 'office',
 'word',
 'excel',
 'powerpoint',
 'ms',
 'project',
 'advantage',
 'highly',
 'organize',
 'sense',
 'order',
 'able',
 'follow',
 'number',
 'project',
 'task',
 'time',
 'communicate',
 'key',
 'result',
 'manager',
 'verbal',
 'visual',
 'write',
 'medium',
 'spanish',
 'english',
 'high',
 'glass',
 'half',
 'attitude',
 'open',
 'mind',
 'appetite',
 'look',
 'process',
 'improvement',
 'implementation',
 'new',
 'solution',
 'offer',
 'term',
 'contract',
 'flexible',
 'schedule',
 'day',
 'remote',
 'working']

In [ ]:
from spacy.matcher import Matcher

matcher = Matcher(nlp.vocab)
pattern = [
    {"POS": "NOUN"},
    {"POS": "NOUN", "LEMMA": "language"},
    {"POS": "NOUN", "OP": "+"}
]
matcher.add("Experience", [pattern])
matches = matcher(doc)

In [ ]:
matches

In [ ]:
for token in doc:
    print(token.text, token.lemma_, token.pos_)

In [ ]:
import networkx as nx
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

# Preprocessing: Tokenize and filter words
word_counts = Counter()
word_pairs = Counter()

#for text in texts:
doc = nlp(text.lower())
words = [token.lemma_ for token in doc if token.is_alpha and not token.is_stop]  # Lemmatization & stopword removal
word_counts.update(words)  # Count individual word occurrences
#Extract consecutive word pairs
for i in range(len(words) - 1):
    pair = (words[i], words[i + 1])  # Only take consecutive words
    word_pairs[pair] += 1

# Create a Graph
G = nx.Graph()

# Add edges with weights
for (word1, word2), count in word_pairs.items():
    G.add_edge(word1, word2, weight=count)

# Scale node sizes based on frequency
node_sizes = [word_counts[word] * 500 for word in G.nodes()]  # Scale factor for better visualization

# Draw the graph
plt.figure(figsize=(8, 6))
pos = nx.spring_layout(G, seed=42)  # Position nodes for visualization
nx.draw(G, pos, with_labels=True, node_color="lightblue", edge_color="gray", 
        node_size=node_sizes, font_size=10, alpha=0.7)

# Add edge labels (weights)
edge_labels = {(word1, word2): count for (word1, word2), count in pair_counts.items()}
nx.draw_networkx_edge_labels(G, pos, edge_labels=edge_labels)

plt.title("Consecutive Word Co-occurrence Graph")
plt.show()

In [ ]:
word_pairs

In [ ]:
import plotly.graph_objects as go

G = nx.Graph()

for (word1, word2), count in word_pairs.items():
    G.add_edge(word1, word2, weight=count)

# Get positions using spring layout
pos = nx.spring_layout(G, seed=42)

# Extract data for Plotly
edge_x, edge_y, edge_text = [], [], []
for edge in G.edges(data=True):
    x0, y0 = pos[edge[0]]
    x1, y1 = pos[edge[1]]
    edge_x.extend([x0, x1, None])  # None for breaks in line
    edge_y.extend([y0, y1, None])
    edge_text.append(f"{edge[0]} ↔ {edge[1]} (Weight: {edge[2]['weight']})")

# Node data
node_x, node_y, node_size, node_text = [], [], [], []
for node in G.nodes():
    x, y = pos[node]
    node_x.append(x)
    node_y.append(y)
    node_size.append(word_counts[node] * 10)  # Scale node size
    node_text.append(f"{node} (Count: {word_counts[node]})")

# Create edge trace
edge_trace = go.Scatter(
    x=edge_x, y=edge_y,
    line=dict(width=1, color="gray"),
    hoverinfo="text",
    text=edge_text,
    mode="lines"
)

# Create node trace
node_trace = go.Scatter(
    x=node_x, y=node_y,
    mode="markers+text",
    marker=dict(size=node_size, color="lightblue", line=dict(width=2, color="black")),
    text=node_text,
    hoverinfo="text",
    textposition="top center"
)

# Create interactive Plotly figure
fig = go.Figure(data=[edge_trace, node_trace])
fig.update_layout(
    title="Interactive Word Co-occurrence Graph",
    showlegend=False,
    hovermode="closest",
    margin=dict(b=20, l=5, r=5, t=40),
    xaxis=dict(showgrid=False, zeroline=False, showticklabels=False),
    yaxis=dict(showgrid=False, zeroline=False, showticklabels=False)
)

# Show interactive graph
fig.show()